<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <div>
        <a href="/course?subject=english">English</a>
        <a href="/course?subject=maths">Maths</a>
        <a href="/course?subject=physics">Physics</a>
        <a href="/course?subject=chemistry">Chemistry</a>
    </div>
    <a href="/meeting">Meeting</a>
    <a href="/test">Test</a>
    <a href="/profile">profile</a>
    <a href="/class">class</a>
</body>
</html>